# Fleet IDE
.fleet

# Intellij
.idea
*.iml

# Eclipse
.project
.classpath

# Maven
target


debug.out
.DS_Store

#Logfiles
SimpleLogFile.txt
udpReaderBackup.txt

#tempfiles
.idea/
out/

#targetfiles - mvn wrapper
target/

#builds
build/

#pdf output directory
dist/

#zip files for local backups
*.zip