---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {%- if page.url and not page.data.eleventyExcludeFromCollections %}
  <url>
    <loc>https://kst4contest.hamradioonline.de{{ page.url }}</loc>
    <lastmod>{{ page.date | dateToIso }}</lastmod>
  </url>
  {%- endif %}
{%- endfor %}
</urlset>